<h1>Flights!</h1>
<%- include("../partials/header") %>


<h1>Flight List</h1>
  <table>
    <thead>
      <tr>
      </tr>
    </thead>
    <tbody>
      <!-- Write the line of EJS to iterate over movies using forEach -->
      <% flights.forEach(function(f) { %>
        <tr>
          <td><%= f.flightNo %></td>
          <td><%= f.airline %></td>
          <td><%= f.airport %></td>
          <td><%= f.departs %></td>
          <td><a href="/flights/<%= f._id %>">Details</a></td>
        </tr>
        <% }); %>
    </tbody>
  </table>

<%- include("../partials/footer") %>