<%- include("../partials/header") %>


<section id="show-page">
    <div>Flight No: </div>
    <div><%= flight.flightNo %></div>
    <div>Airport: </div>
    <div><%= flight.airport %></div>
    <div>Airline: </div>
    <div><%= flight.airline %></div>
    <div>Departs: </div>
    <div><%= flight.departs %></div>
</section>


<br><br><h2>Destinations</h2>
<form id="add-detinations-form" method="POST"
  action="/flights/<%= flight._id %>/destinations">
  <label>Arrival Time:</label>
  <input type="datetime-local" name="arrival">
  <label>Desination:</label>
  <select name="airport">
    <option value="AUS">AUS</option>
    <option value='DFW'>DFW</option>
    <option value='DEN'>DEN</option>
    <option value='LAX'>LAX</option>
    <option value='SAN' selected>SAN</option>
  </select>
  <input type="submit" value="Add Destination">
</form>



    <table>
      <thead>
        <tr>
          <th>Date</th>
          <th>Review</th>
          <th>Rating</th>
        </tr>
      </thead>
      <tbody>
        <% flight.destinations.forEach(function(d) { %>
          <tr>
           
            <td><%= d.airport %></td>
            <td><%= d.arrival %></td>
          </tr>
        <% }); %>
      </tbody>
    </table>
  

<%- include("../partials/footer") %>